*{
    box-sizing: border-box;
}
body{
   
    background-color: #54c3ef;
}
h1{
    color: #fad744;
    font-family: cursive;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}
#maindiv-1{
   padding: 20px;
    width: 600px;
    height: 1300px;
    margin-left: 400px; 
margin-top: 0px;
    background-color: #2b3252;
    float: left;
    
}
#score-card{
    width: 150px;
    height: 200px;
    background-color: white; 
    float: left;
    margin-left: 10px;
    border-radius: 10px; 
    position: sticky; 
    text-align: center;
    align-items: center;
   
    /* position:fixed; */
}
#score-card p{
    font-size: 40px;
}
#submit{
    clear: both;
    /* border: 1px solid red; */
    width: 600px;
    margin-left: 400px;      
    text-align: center;
    padding-bottom: 20px;
    background-color: #2b3252;
}
input{
    font-size: 30px;
    padding: 10px 20px;
    background-color: #fad744;
    border-radius: 10px;
    cursor: pointer;
}
.question-container{
    width: 100%;
    height: 230px;
    border-bottom: 2px solid rgb(142, 124, 124);
}
.que{
    font-size: 20px;
    color: #fad744;
    font-weight: bold;
}
ul{
    text-decoration: none;
    list-style-type: none;
    margin-left: 0px;
    
}
li{
    /* border: 1px solid red; */
    margin: 10px 0px;
    font-size: 18px;
    color: #fad744;
    align-items:center;
    padding: 5px;
}
span{
    margin-left: 10px;
}
 
